.container
{
    display: block;
    height: auto;
    border: 2px  black;
    padding: 20mm 0mm 20mm 0mm;

}
.container-blocks
{
    display: inline-block;
    height: auto;
    width: 450px;
    margin-left: 5mm;
    margin-right: 5mm;
    border: 1px  black;
    vertical-align: top;
}

.card
{
    display: block;
    height: auto;
    width: 300px;
    margin-left: 5mm;
    margin-right: 5mm;
}

.forma
{
    display: block;
    height: auto;
    width: 150px;
    margin-left: 5mm;
    margin-right: 5mm;
    border: 1px  black;
}