.navbar {
    display: flex;
    justify-content: end;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    padding: 10px;
    background-color: black;
}

.buttons{
    display: flex;
    box-sizing: inherit;
    align-items: center;
    font-size: 24px;
}

.button-signup{
    margin: 5px;
    padding: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.button-login{
    margin: 5px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.column{
    display: inline-block;
    margin-top: 120px;
    margin-left: 22%;
    padding-bottom: 30px;
    width: 56%; 
    border: 1px solid grey; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 .5em 1em 0 rgba(10,10,10,.1),0 0 0 1em rgba(10,10,10,.02);  
    justify-content: center;
}