* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #444;
    font-family: sans-serif;
    border-top: 10px solid #1098ad;
    position: relative;
}

main.container {
    width: 800px;
    margin: 0 auto;
}

main header.main-header {
    background-color: #f7f7f7;
    padding: 10px;
    border-top: 10px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    position: fixed;
    top: 0px;
    width: 780px;
}

nav {
    font-size: 18px;
}

article {
    margin-bottom: 60px;
}

header.post-header {
    margin-top: 135px;
    margin-bottom: 12px;
}

aside {
    background-color: #f7f7f7;
    border-bottom: 5px solid #1098ad;
    width: 800px;
}

hr{
    margin-bottom: 15px;
}

h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    height: 50px;
    font-size: 26px;
    padding-top: 12px;
    margin-bottom: 10px;
    font-style: italic;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul,
ol {
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    list-style-type: none;
}

/* ul li::before{
    content: "\2022";
    font-size: 36px;
    color: green;
} */


li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-self: flex-start;
    /* formatting */
    /*height: 50px;*/
    font-size: 18px;
}

img {
    height: auto;
    width: 50px;
    margin-right: 10px;
}

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 8px;
}

/* li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

li:nth-child(even) {
    color:darkslategrey;
} */

article p:first-child {
    color: green;
}

a:link {
    color:#1098ad;
    text-decoration: none;
}

a:visited {
    color:#1098ad;
}

a:hover {
    color: green;
    font-weight: bold;
    text-decoration: underline green;
}

a:active {
    background-color: black;
    font-style: italic;
}

nav a:link {
    margin-right: 30px;
    margin-top: 20px;
}

/* h1::first-letter {
    font-style: normal;
    color:black;
} */
